@model MainPageModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}



<!-- Single product area start  -->
<div class="shop-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="back-to-category">
                    KATEGORİ:
                    <a title="Destop &amp; Laptop" class="product-details" href="/Home/CategoryPage/@Model.Productdetails!.CategoryID">@Model.CategoryName</a>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <div class="product-view">
                            <div class="full-product-img">
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <img class="zoom_01" src='/resimler/@Model.Productdetails.PhotoPath' data-zoom-image="/resimler/@Model.Productdetails.PhotoPath"
                                             alt="" />
                                    </div>

                                    <div id="menu1" class="tab-pane fade">
                                        <img class="zoom_01" src='/resimler/@Model.Productdetails.PhotoPath' data-zoom-image="/resimler/@Model.Productdetails.PhotoPath" alt="" />
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <img class="zoom_01" src='/resimler/@Model.Productdetails.PhotoPath' data-zoom-image="/resimler/@Model.Productdetails.PhotoPath" alt="" />
                                    </div>
                                    <div id="menu3" class="tab-pane fade">
                                        <img class="zoom_01" src='/resimler/@Model.Productdetails.PhotoPath' data-zoom-image="/resimler/@Model.Productdetails.PhotoPath" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="small-products">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="single-product.html#home">
                                            <img src="/resimler/@Model.Productdetails.PhotoPath" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="single-product.html#menu1">
                                            <img src="/resimler/@Model.Productdetails.PhotoPath" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="single-product.html#menu2">
                                            <img src="/resimler/@Model.Productdetails.PhotoPath alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="single-product.html#menu3">
                                            <img src="/resimler/@Model.Productdetails.PhotoPath" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-7">
                        <div class="single-product-info sp-info-area">
                            <div class="product-name"><h1>@Model.Productdetails.ProductName</h1></div>
                            <div class="product-rating">
                                <p class="in-stock">
                                    @if (Model.Productdetails.Stock > 0)
                                    {
                                        <span>@Model.Productdetails.Stock adet </span>
                                    }
                                    else
                                    {
                                        <span>Stok Yok </span>
                                    }
                                </p>
                            </div>
                            <div class="all-prices">
                                <span class="sp-price main-price">@Model.Productdetails.UnitPrice Tl</span>
                            </div>
                            <div class="product-short-description">
                                @Model.Productdetails.Notes
                            </div>

                            <div class="product-quantity">
                                <div class="s-poraduct-botton">

                                    <div class="submit_crt">
                                        <a href="/Home/CartProcess/@Model.Productdetails.ProductID">
                                            <input type="submit" name="name" value="Sepete Ekle" class="update_cart"
                                                   style="color:white;font-weight:bold;border-radius:30px;" />
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="reviews-areas">
                            <div class="reviw-title">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="single-product.html#description">Diğer Bilgiler</a></li>
                                    <li><a data-toggle="tab" href="single-product.html#infomation">Ek Bilgiler</a></li>
                                    <li><a data-toggle="tab" href="single-product.html#yenitab">Yeni Tab</a></li>
                                </ul>
                            </div>
                            <div class="revew-content-area">
                                <div class="tab-content">
                                    <div id="description" class="tab-pane fade in active">
                                        <p>@Model.BrandName</p>
                                        <p>İndirim Oranı @Model.Productdetails.Discount</p>
                                    </div>

                                    <div id="infomation" class="tab-pane fade">
                                        <div class="product-infomation">
                                            <ul class="list-info">
                                                <li><strong>Anahtar Kelimeler</strong>@Model.Productdetails.Keywords</li>
                                                <li><strong>KDV</strong>@Model.Productdetails.Kdv</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="yenitab" class="tab-pane fade">
                                        <div class="product-infomation">
                                            <ul class="list-info">
                                                yeni bilgiler buraya
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rp-area">
                            <div class="all-p-title">
                                <h3>Bunlara Bakanlar</h3>
                            </div>
                            <div class="singl-shop ">
                                <div class="row">

                                    @foreach (var item in Model.RelatedProducts)
                                    {
                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="sp-single">
                                                <div class="sp-img-area">
                                                    <img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
                                                    <img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
                                                    <div class="quick-view-detail">
                                                        <a href="/Home/Details/@item.ProductID">DETAYLAR</a>
                                                    </div>
                                                    <div class="sp-label-pro sp-label-pro-hot">Benzer!</div>
                                                </div>
                                                <div class="sp-info-area">
                                                    <h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
                                                    <p class="all-prices">
                                                        <span class="sp-price main-price">@item.UnitPrice TL</span>
                                                    </p>
                                                    <div class="sp-button">
                                                        <div class="s-button">
                                                            <a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
                                                               data-placement="top" title="Sepete Ekle"
                                                               class="black-tooltip add-to-cart all_src_icon">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>

                                                        </div>
                                                        <div class="s-button">
                                                            <a href="index.html#" data-toggle="tooltip"
                                                               data-placement="top"
                                                               class="black-tooltip add-to-cart all_src_icon">  </a>
                                                        </div>
                                                        <div class="s-button last-b ">
                                                            <a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
                                                               data-placement="top" title="Detaylar"
                                                               class="black-tooltip add-to-cart all_src_icon">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Single product area End  -->
