@model MainPageModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/DefaultLayout.cshtml";
}



<!-- slider area start -->
<div class="home-1-slider-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-9 col-lg-9 ">
				<div class="h1-slider">
					<!-- HOME SLIDER -->
					<div class="slider-wrap">
						<div class="fullwidthbanner-container">
							<div class="home-1">
								<ul>
									@foreach (var item in Model.SliderProducts)
									{
										<li data-transition="random" data-slotamount="7" data-masterspeed="1000">
											<img src="~/resimler/@item.PhotoPath" alt="slide">
											<div class="tp-caption large_black sfr carousel-caption-inner" data-x="50" data-y="10" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
												 style="color:white; font-size:18px; letter-spacing: 1px; text-transform: uppercase;">
												@item.UnitPrice TL
											</div>
											<div class="tp-caption large_black sfr carousel-caption-inner" data-x="65" data-y="71" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
												 style="  font-size: 60px; font-style:italic; font-weight: normal; text-transform: uppercase;color: white;font-weight: bold;">
												@item.ProductName
											</div>
											<div class="tp-caption lfb carousel-caption-inner" data-x="130" data-y="160" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
												 style="">
												<a href="/Home/CardProcess/@item.ProductID" class="s-btn" style="background: transparent; color: #fff; border: 1px solid #fff; font-weight:700; font-size: 12px; display: inline-block; padding:10px 18px; text-transform: uppercase;">Sepete Ekle </a>
											</div>
										</li>
									}
								</ul>
							</div>
						</div>
					</div>
					<!-- END HOME SLIDER -->
				</div>
			</div>
			<!--  DayOfProduct -->
			<div class="col-sm-3 col-md-3 col-lg-3 ">
				<div class="single-special-products">
					<h3 class="sp-module-title"><span>Günün Ürünü</span></h3>
					<div class="all-sp-slides">
						<!-- SP-SINGLE Product -->
						<div class="sp-single">
							<div class="sp-img-area">
								<img class="first-img" src="~/resimler/@Model.Productofday.PhotoPath" alt="" />
								<img class="hover-img" src="~/resimler/@Model.Productofday.PhotoPath" alt="" />
								<div class="quick-view-detail">
									<a href="/Home/Details/@Model.Productofday.ProductID">Detaylar</a>
								</div>
								<div class="sp-label-pro sp-label-pro-hot">@Model.Productofday.Discount</div>
							</div>
							<div class="sp-info-area">
								<h2 class="product-name">
									<a title="@Model.Productofday.Notes"
									  <a href="/Home/Details/@Model.Productofday.ProductID"
									  >@Model.Productofday.ProductName</a>
								</h2>
								<p class="all-prices">
									<span class="sp-price main-price">@Model.Productofday.UnitPrice TL</span>
								</p>
								<div class="sp-button">
									<div class="s-button">
										<a href="/Home/CartProcess/@Model.Productofday.ProductID"
										   data-toggle="tooltip" data-placement="top"
										   title="Sepete Ekle" class="black-tooltip add-to-cart all_src_icon">
											<i class="fa fa-shopping-cart"></i>
										</a>
									</div>
									<div class="s-button">
										<a href="" data-toggle="tooltip"
										   data-placement="top" title=""
										   class="black-tooltip add-to-cart all_src_icon">
											</i>
										</a>
									</div>
									<div class="s-button last-b ">
										<a href="/Home/Details/@Model.Productofday.ProductID"
										   data-toggle="tooltip" data-placement="top" title="Detaylar"
										   class="black-tooltip add-to-cart all_src_icon">
											<i class="fa fa-eye"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  DayOfProduct -->
		</div>
	</div>
</div>
<!-- new product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color: aqua ;">Yeni Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.NewProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro-hot">Yeni!</div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- new product  -->
<!--  Special Products  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color: bisque ;">Özel Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.SpecialProducts)
								{
									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro-hot">Özel!</div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  Special Products  -->
<!-- Discounted product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color: burlywood ;">İndirimli Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.DiscountedProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro-hot">%@item.Discount</div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Discounted product  -->
<!-- Highlighted product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:darksalmon ;">Öne Çıkan Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.HighlightedProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro-hot">@item.HighLighted Kişi </div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Highlighted product  -->
<!-- Topseller product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:cornflowerblue ;">Çok Satan Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.TopsellerProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro ">@item.TopSeller </div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Topseller product  -->
<!-- Star product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:hotpink ;">Yıldızlı Ürünler</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.StarProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro ">Yıldızlı  </div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Star product  -->
<!-- Opportunity product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:limegreen ;">Fırsat Ürünleri</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.OpportunityProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro ">Fırsat </div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Opportunity product  -->
<!-- NoTableProducts product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:coral ;">Dikkat Çeken Ürünleri</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.NoTableProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro ">Dikkat </div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- NoTableProducts product  -->
<!-- PopulerProducts product  -->
<div class="new-products-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 ">
				<div class="n-full-products">
					<div class="all-p-title">
						<h3 style="background-color:darkgrey ;">Popüler Ürünleri</h3>
					</div>
					<div class="row">
						<div class="all-new-p">
							<div class="all-new-single singal-p hom-1">

								@foreach (var item in Model.PopulerProducts)
								{

									<div class="col-sm-12 col-md-12 col-lg-12">
										<div class="sp-single">
											<div class="sp-img-area">
												<img class="first-img" src="~/resimler/@item.PhotoPath" alt="" style="height:220px;" />
												<img class="hover-img" src="resimler/@item.PhotoPath" alt="" />
												<div class="quick-view-detail">
													<a href="/Home/Details/@item.ProductID">DETAYLAR</a>
												</div>
												<div class="sp-label-pro sp-label-pro ">Popüler </div>
											</div>
											<div class="sp-info-area">
												<h2 class="product-name"><a title="@item.Notes" href="/Home/Details/@item.ProductID">@item.ProductName </a></h2>
												<p class="all-prices">
													<span class="sp-price main-price">@item.UnitPrice TL</span>
												</p>
												<div class="sp-button">
													<div class="s-button">
														<a href="/Home/CartProcess/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Sepete Ekle"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</div>
													<div class="s-button">
														<a href="index.html#" data-toggle="tooltip"
														   data-placement="top"
														   class="black-tooltip add-to-cart all_src_icon">  </a>
													</div>
													<div class="s-button last-b ">
														<a href="/Home/Details/@item.ProductID" data-toggle="tooltip"
														   data-placement="top" title="Detaylar"
														   class="black-tooltip add-to-cart all_src_icon">
															<i class="fa fa-eye"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								}


							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="new-bottom-area">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- PopulerProducts product  -->
</html>
