@model IEnumerable<Status>

@{
	ViewData["Title"] = "StatusIndex";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
	<div class="col-md-2 col-xs-12 col-sm-12 col-lg-2"></div>

	<div class="col-md-8 col-xs-12 col-sm-12 col-lg-8">
		<p>
			<a asp-action="StatusCreate" asp-controller="Admin" class="btn btn-success">YENİ STATÜ</a>


		</p>

		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-cogs"></i>STATÜ	 LİSTESİ
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-hover">
						<thead>
							<tr style="background-color:grey;color:white">
								<th>
									@Html.DisplayNameFor(model => model.StatusID)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.StatusName)
								</th>

								<th>
									@Html.DisplayNameFor(model => model.Active)
								</th>

								<th></th>


							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model)
							{
								<tr>
									<td>
										@Html.DisplayFor(model => item.StatusID)
									</td>
									<td>
										<span style="background-color:black;color:white;font-size:20px;">
											@Html.DisplayFor(model => item.StatusName)
										</span>

									</td>

									@if (item.Active)
									{
										<td style="background-color:green;color:white;">
											<label>AKTİF</label>
										</td>
									}
									else
									{
										<td style="background-color:red;color:white;">
											<label>PASİF</label>
										</td>
									}

									<td>
										<a asp-action="StatusEdit" asp-route-id="@item.StatusID"
										   class="btn btn-primary">DÜZELT</a>
										<a asp-action="StatusDetails" asp-route-id="@item.StatusID"
										   class="btn btn-info">DETAY</a>
										<a asp-action="StatusDelete" asp-route-id="@item.StatusID"
										   class="btn btn-danger">SİL</a>
									</td>

								</tr>



							}


						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>

</div>